/* custom buttons*/
/* btn dark */
.c-btn-dark{
	text-decoration: none;
	color: #111;
	padding: 4px 8px;
	border-radius: 5px;
	border: 2px solid #111;

	transition: .2s;
}
.c-btn-dark:hover{
	background: #212121;
	text-decoration: none;
	color: #ddd;
}
.c-btn-dark:focus{
	background: #212121;
	text-decoration: none;
	color: #ddd;
}

/*btn white*/
.c-btn-white{
	text-decoration: none;
	color: #ddd;
	padding: 4px 8px;
	border-radius: 3px;
	/*background: #ddd;*/
	transition: .2s;
	border: 1px solid #ddd;
}
.c-btn-white:hover{
	opacity: .9;
	text-decoration: none;
	color: #222;
	background: #ddd;
}
.c-btn-white:focus{
	background: #ddd;
	color: #111;
}

/* btn link */
.c-btn-link{
	padding: 8px 12px;
	border-radius: 4px;
	color: #ddd;
	display: inline-block;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.c-btn-link:hover{
	color: #ddd;
	opacity: .7;
	text-decoration: none;
}